
/* Styles applied to site as a whole */
img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Header specific styling */
.header img {
  float: left;
  max-width: 75px;
  max-height: auto;
}

.header h1,
.header h5 {
  float: right;
}

/* Main content specific styling */
.content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.auxilliary-work-header {
  float: left;
  padding: 5px;
  width: 100%;
  order: 2;
}

.main-image {
  order: 1;
  width: 100%;
  margin: 10px;
}

.auxilliary-image {
  order: 3;
  width: 33%;
}

/* Media query section */
